@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 80%, 98%);
  --light-gray: hsl(0, 0%, 75%);
  --white: hsl(0, 0%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
a,
button {
  font-family: "Raleway", sans-serif;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.btn {
  background-color: var(--bright-blue);
  border: none;
  color: var(--light-grayish-blue);
  border-radius: 0.2rem;
  padding: 0.8rem 3.5rem;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

a:hover {
  opacity: 0.5;
}

.fill-white {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7462%)
    hue-rotate(11deg) brightness(118%) contrast(102%);
}

.fill-color {
  filter: brightness(0) saturate(100%) invert(95%) sepia(38%) saturate(289%)
    hue-rotate(180deg) brightness(92%) contrast(117%);
}

/* Navigation */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
}

.navbar .nav-items {
  display: flex;
  gap: 2rem;
}

.navbar .nav-items a {
  text-decoration: none;
  color: var(--desaturated-blue);
  font-weight: 700;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 2rem 0;
}

.hero .hero-left {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.hero .hero-left h1 {
  max-width: 25ch;
  line-height: 3rem;
}

.hero .hero-left p {
  max-width: 58ch;
}

.hero .hero-left .input-section {
  display: flex;
  gap: 1rem;
}

.hero .hero-left input {
  width: 50%;
  padding: 0.8rem 1rem 0.5rem 1rem;
}

.hero .hero-img {
  width: 50%;
}

/* Productive Section */
.productive {
  background-color: var(--light-grayish-blue);
  padding: 3rem 0 6rem 0;
  margin-top: 20rem;
}

.productive .curve-img {
  position: absolute;
  width: 100%;
  transform: translateY(-100%);
}

.productive .curve-img-mobile {
  display: none;
}

.productive-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.productive .productive-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.productive .productive-left h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.productive .productive-left .subheading-2 {
  max-width: 58ch;
}

.productive .productive-left .productive-link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.productive .productive-left .productive-link a {
  color: var(--moderate-cyan);
  border-bottom: 0.1rem solid var(--moderate-cyan);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding-bottom: 0.2rem;
}

.productive .productive-img {
  width: 40%;
}

.productive .productive-left .card {
  background-color: var(--white);
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.8rem;
  border-radius: 0.3rem;
  width: 62%;
  margin-top: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.5) 3px 3px 25px;
}

.productive .productive-left .card .quotes-img {
  width: 5%;
}

.productive .productive-left .card p {
  max-width: 37ch;
  font-size: 0.8em;
}

.productive .productive-left .card .profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.productive .productive-left .card .profile .profile-img {
  width: 12%;
  border-radius: 50%;
}

.productive .productive-left .card .profile .profile-heading {
  font-weight: 700;
  font-size: 0.75em;
}

.productive .productive-left .card .profile .profile-subheading {
  font-size: 0.6em;
}

/* Access Section */
.access {
  background-color: var(--desaturated-blue);
  padding: 6rem 0;
}

.access .access-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.access .access-left h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  color: var(--white);
}

.access .access-left p {
  max-width: 55ch;
  color: var(--white);
}

.access .access-right {
  width: 100%;
}

.access .access-right input {
  display: block;
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
}

/* Footer Section */
.footer {
  background-color: var(--very-dark-blue);
  padding: 6rem 0;
}

.footer .footer-links {
  display: flex;
  margin-top: 2rem;
  gap: 10rem;
  color: var(--white);
}

.footer .footer-links .group-1,
.footer .footer-links .group-2,
.footer .footer-links .group-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .footer-links .group-2 a,
.footer .footer-links .group-3 a {
  text-decoration: none;
  color: var(--white);
}

.footer .footer-links .group-1 p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer .footer-links .group-4 ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.footer .footer-links .group-4 ul li a {
  border: 0.1rem solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

.footer .footer-links .group-4 ul li a img {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 2rem;
  }

  .navbar .nav-items {
    gap: 1rem;
    font-size: 0.8em;
  }

  .navbar .logo {
    width: 25%;
  }

  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hero .hero-left {
    order: 2;
    margin: 0 auto;
  }

  .hero .hero-img {
    width: 100%;
  }

  .hero .hero-left h1 {
    font-size: 1.4em;
    line-height: 2rem;
  }

  .hero .hero-left p {
    max-width: 38ch;
    font-size: 0.8em;
  }

  .hero .hero-left .input-section {
    flex-direction: column;
  }

  .hero .hero-left input {
    width: 100%;
  }

  .productive {
    padding: 1rem 0 6rem 0;
    margin-top: 5rem;
  }

  .productive .curve-img {
    display: none;
  }

  .productive .curve-img-mobile {
    display: block;
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
  }

  .productive .productive-img {
    order: 1;
    width: 100%;
  }

  .productive .productive-left {
    order: 2;
  }

  .productive-container {
    flex-direction: column;
    gap: 4rem;
  }

  .productive .productive-left h2 {
    text-align: center;
    font-size: 1em;
  }

  .productive .productive-left .subheading-2 {
    font-size: 0.8em;
    max-width: 58ch;
  }

  .productive .productive-left .productive-link {
    align-self: center;
    margin-top: 1rem;
    font-size: 0.8em;
  }

  .productive .productive-left .card {
    align-self: center;
    width: 100%;
  }

  .access {
    padding: 3rem 0;
  }

  .access .access-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .access .access-content h3 {
    font-size: 1em;
  }

  .access .access-content p {
    font-size: 0.8em;
  }

  .access .access-right {
    margin-top: 1rem;
  }

  .access .access-right input {
    width: 90%;
    margin: 0 auto 1rem auto;
  }

  .access .access-right .btn {
    width: 90%;
  }

  .footer {
    padding: 3rem 0;
  }

  .footer .footer-links {
    flex-direction: column;
    margin-top: 2rem;
    gap: 3rem;
  }

  .footer .footer-links .group-4 ul {
    justify-content: center;
  }
}
